/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}
/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-right: 15px;
  padding-left: 15px;
}
.container .jumbotron {
	padding-left: 0px !important;
	padding-right: 0px !important;
}
/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}
/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
p::first-letter {
	font-size: 110%;
	color: #7365F1;
	font-weight: 600;
}
.social-nav {
	margin-left: auto;
	margin-right: auto;
	display: block;
	width: 80%;
}
/* The following changes the size of the social media icons */
body > div > div.container > div > div > ul > li > a > i {
	font-size: 32px !important;
}
body > div > div.container > div > div > ul > li {
	padding-left: 28px;
	padding-right: 28px;
	padding-bottom: 10px;
}
.tooltip-inner {
	padding: 10px;
}
.tooltip-arrow {
	border-color: !important;
}
/* This controls the Jumbotron */
body > div > div.jumbotron {
	background-image: url('IMG_0758.jpeg');
	height: 400px;
	background-size: cover;
	background-repeat: no-repeat;
}
/* This controls the Font Awesome icons in Skills & Expertise */
body > div > div.row.marketing > div:nth-child(3) > h4 > span > i,
body > div > div.row.marketing > div:nth-child(4) > h4 > span > i {
	padding-left: 25px;
	padding-right: 75px;
}
/* This controls the list-structure of the programming language list */
body > div > div.row.marketing > div:nth-child(4) > ul.list-inline > li {
	padding-left: 12px; 
	padding-right: 12px;
}
body > div > div.container {
	margin-top: 50px;
}
body > div > div:nth-child(5) > div > div > div,
body > div > div:nth-child(5) > div > div:nth-child(3) > div:nth-child(2) {
	display: block;
	margin-top: 15px;
	margin-bottom: 25px;
}
/* This controls the Experience section*/ 
body > div > div.row.marketing {
	margin-top: 50px;
	margin-bottom: 50px;
}
/* This controls the projects section*/ 
body > div > div.row.projects {
	margin-top: 50px;
	margin-bottom: 50px;
}
/* This controls the hire me section*/ 
body > div > div.row.featurette	 {
	margin-top: 50px;
	margin-bottom: 50px;
}
body > div > div.row.featurette > div:nth-child(3) > div > div:nth-child(2) > ul > li{
	padding-top: 10px;
	padding-bottom: 10px;
} 
/* This controls the footer of the entire page. */
.footer {
	margin-top: 150px;
	color: #3053F1 !important;
}
#top-link-block.affix-top {
    position: absolute; /* allows it to "slide" up into view */
    bottom: -92px;
    left: 10px;
}
#top-link-block.affix {
    position: fixed; /* keeps it on top once in view */
    bottom: 18px;
    left: 10px;
}
#top-link-block > a {
	padding: 15px;
	font-weight: 600;
}
body > div > div:nth-child(10) > ul {
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
}
